services:
  mysql:
    image: mysql:8.0
    container_name: student_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: student_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: .
    container_name: student_backend
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: student_db
      SECRET_KEY: something_That-Si-erom-ImportnaT

      SMTP_EMAIL: durvish1804@gmail.com
      SMTP_PASSWORD: udntktrlnmzgbbbn
      SMTP_SERVER: smtp.gmail.com
      SMTP_PORT: 587

volumes:
  mysql_data:
  
env_file:
  - .env